body {
  font-size: 18px;
  background-color: #4d1919;
  color: #ffcccc;
}
h1 {
  margin-bottom: 20px;
  border-top: solid #660000 15px;
  font-size: 54px;
  color: white;
}
h1 + h2 {
  margin-top: -20px;
}
h2 {
  font-size: 27px;
}
h2 + p {
  margin-top: 36px;
}
