//out: css/main.css, sourcemap: true

//COLOR VARIABLES
@logo-red: darken(red, 30%);
@logo-red-mute: desaturate(@logo-red, 50%);
@logo-red-light: lighten(@logo-red, 70%);

//TYPE VARIABLES


body {
  background-color: @logo-red-mute;
  color: @logo-red-light;
}

h1 {
  border-top: solid @logo-red 15px;
  color: white;
}
